<h1 style="margin-top: 50px;">BIENVENUE SUR LA PAGE DES POSTULANTS</h1>

<div class="postulants">
    <table>
        <thead>
        <tr>
            <th>Mail </th>
            <th>Nom</th>
            <th>Numéro</th>
            <th>Prenom</th>
            <th>id_liste</th>
        </tr>
    </thead>
        <tr>
            <td>adama@gmail.com</td>
            <td>Coulibaly</td>
            <td>89878899</td>
            <td>Adama</td>
            <td>1</td>
        </tr>
        <tr>
            <td>aoua@gmail.com</td>
            <td>Traoré</td>
            <td>8987000</td>
            <td>Aoua</td>
            <td>2</td>
        </tr>
        <tr>
            <td>kadi@gmail.com</td>
            <td>Samaké</td>
            <td>8444444</td>
            <td>Kady</td>
            <td>3</td>
        </tr>
        <tr>
            <td>aly@gmail.com</td>
            <td>Konté</td>
            <td>44448899</td>
            <td>Aly</td>
            <td>4</td>
        </tr>
        <tr>
            <td>sy@gmail.com</td>
            <td>Sy</td>
            <td>77888888</td>
            <td>Laye</td>
            <td>5</td>
        </tr>
        <tr>
            <td>fatou@gmail.com</td>
            <td>Diarra</td>
            <td>66554433</td>
            <td>Fatou</td>
            <td>6</td>
        </tr>
    </table>
</div>

