<h1 style="margin-top: 50px;">BIENVENUE SUR LA PAGE DES POSTULANTS</h1>

<div class="postulants">
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail </th>
            <th>Numéro</th>
            <th>id_liste</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of postulants |  paginate:{itemsPerPage: 10, currentPage:page}">
            <td>{{post.nom_postulant}}</td>
            <td>{{post.prenom_postulant}}</td>
            <td>{{post.mail_postulant}}</td> 
            <td>{{post.numero_postulant}}</td>
            <td>{{post.id_liste}}</td>
        </tr>
    </tbody>
       
    </table>
    <pagination-controls (pageChange)="page = $event" previousLabel="Précedent" nextLabel="Suivant"> </pagination-controls>
</div>

