<div class="container">
<h1 style="margin-top: 50px;">BIENVENUE SUR LA PAGE DES POSTULANTS TIRES</h1>

<div>
    <label for="name"> Libellé liste : </label>
    <input type="text" name="Libbelé liste "/>
    <br>
    <br>
    <label for="name"> Libellé tirage : </label>
    <input type="text" name="Libbelé tirage "/>
    <br>
    <br>
    <label for="name"> Nombre tiré : </label>
    <input type="text" name="nbre" class="cadre"/>
</div>
<div class="abass">
    <table>
        <tr>
            <td>N° </td>
            <td>Nom</td>
            <td>Prenom</td>
            <td>Mail</td>
        </tr>
        <tr>
            <td> 1 </td>
            <td>Adiawiakoye</td>
            <td>Diadjé</td>
            <td>diadje@gmail.com</td>
        </tr>
        <tr>
            <td> 2 </td>
            <td>Coulibaly</td>
            <td>Adama</td>
            <td>ada@gmail.com</td>
        </tr>
        <tr>
            <td> 3</td>
            <td>Konte</td>
            <td>Aly</td>
            <td>aly@gmail.com</td>
        </tr>
    </table>
</div>
</div>
