<h1 style="margin-top: 50px;">BIENVENUE SUR LA PAGE DES LISTES azertyui</h1>
<div class="list">
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Numero</th>
            
            </tr>
                
        </thead>
            
        <tbody>
        
        <tr  *ngFor='let tire of posttire | paginate:{itemsPerPage: 10, currentPage:page}'>
            <td>{{tire.id_postulant_tire}}</td>
            <td>{{tire.nom_postulant}}</td>
            <td>{{tire.prenom_postulant}}</td>
            <td>{{tire.mail_postulant}}</td> 
            <td>{{tire.numero_postulant}}</td>
           
        </tr>
        </tbody>
    </table>
</div>
<!--<pagination-controls (pageChange)="page = $event" previousLabel="Précedent" nextLabel="Suivant"> </pagination-controls>
-->
