
<h1 style="margin-top: 50px;">BIENVENUE SUR LA LISTE DES POSTULANTS IMPORTES</h1>
<div class="xxx">
    <table >
        <thead>
        <tr>
            <th>Listes importées </th>
            <th>Date</th>
            <th>Détails</th>
        </tr>
    </thead>
        <tr>
            <td> Liste 1 </td>
            <td>12/08/21</td>
            <td><i class="fa-regular fa-eye"></i></td>
        </tr>
        <tr>
            <td> Liste 2 </td>
            <td>07/06/21</td>
            <td><i class="fa-regular fa-eye"></i></td>
        </tr>
        <tr>
            <td> Liste 3 </td>
            <td>05/12/22</td>
            <td>     </td>
        </tr>
    
    
    </table>
</div>
