<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><h2>TIRAGE</h2> </title>
</head>
<body>
   
    <h1 style="margin-top: 50px;">BIENVENUE SUR LA PAGE DE TIRAGE AU SORT</h1>
    <br>
    <br>
    <div class="c">
        
    <p><strong>Importer liste</strong></p>
    
    
    <p><strong class="choix">Choisir liste</strong>
        <input type="text" list="liste" >
        <datalist id="liste" >
        <option> liste1 </option>
        <option> liste2 </option>
         <option> liste3 </option>
     
     </datalist></p>
     <img src="assets/vrai.png" class="dam"/>
    <P><strong class="nbre"> Donner un nombre</strong><input type="number" min="1" max="1000">
    </P>
    
    <form>
        <input type="button" class="btn" value="Trier">
      </form>
</div>

<!--<input name="liste" type="select">
   
   <p>Choisir une liste</p>
   <option valeur="liste">Liste 1</option>
   <option valeur="liste2">Liste 2</option>
   <option valeur="liste3">Liste 3</option> -->

   
</body>

<!--<div id="barre_fixe">
    <p>Copyright@2022 Free Tirage, developpé par Orange Digital Kalanso</p>
    </div>-->