
    <div class="container row">
        <div class="ligne">
        <div class="col-8">
            <form (ngSubmit)="onSubmit()" class="monForm">
                <table>
                      <tbody>
                        Choisir une liste
                          <select [(ngModel)] ="choix" name="libelleliste">
                              <option *ngFor="let list of listePost"  [ngValue]="list.libelle" >
                                {{list.libelle}}
                              </option>
                          </select>
                          <tr>
                              <td>Donner un nombre</td>
                              <td> <input type="number" class="form-control" name="nombre" min="1" placeholder="10" [(ngModel)]="tirage.nombre"></td>
                          </tr>
                          <tr>
                                          <td for="name">Libellé du tirage</td>
                                          <td><input type="text" id="name" class="form-control" placeholder="Liste apprenants" name="libelleTirage" [(ngModel)]="tirage.libelle"></td>
                          </tr>
                          <tr>
                              <td><input type="submit" value="Trier" class="form-control btn btn-primary"></td>
                          </tr>
          
                      </tbody>
                </table>
          </form>
        </div>
    
        <div class="col-4">
            <form>
                <table>
                      <tbody>
                          <tr>
                            <td>
                                <input type="file" name="importer" id="importer" class="form-control">
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <input type="text" name="libelleListe" id="libelleListe" class="form-control" placeholder="Liste apprenants">
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <input type="submit" name="import" value="Envoyer" class="form-control btn btn-primary">
                            </td>
                          </tr>
                      </tbody>
                </table>
          </form>
        </div>
    
    </div>
</div>


<!-- <div class="col-3"> <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
  data-bs-target="#AddEtudiant">importer fichier <i class="bi bi-upload"></i></button> </div> -->





  <div class="modal fade" id="AddEtudiant">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card border-0 shadow p-3">
                    <p>Tirage effectué avec succés</p>
                </div>
            </div>
        </div>
    </div>
</div>