<h1 style="margin-top: 50px;">BIENVENUE SUR LA PAGE DES LISTES</h1>
<div class="list">
    <table>
        <thead>
        <tr>
            <th>Nbre de personnes tirées </th>
            <th>Date</th>
            <th>Libelle</th>
            
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let tire of ListeTirage | paginate:{itemsPerPage: 3, currentPage:page}">
            <!--<td>{{tire.id_tirage}}</td>-->
            <td>{{tire.nbre_postulant_tire}}</td>
            <td>{{tire.dateT|date}}</td>
            <td>{{tire.libelle}}</td>

            <!-- <td><a routerLink="/detail" routerLinkActive="active"> voir</a> </td> -->
        </tr>
    </tbody>
    <pagination-controls (pageChange)="page = $event" previousLabel="Précedent" nextLabel="Suivant"> </pagination-controls>
    </table>
</div>
