<h1 style="margin-top: 50px;">BIENVENUE SUR LA PAGE DES LISTES</h1>
<div class="list">
    <table>
        <thead>
        <tr>
            <th>Nbre de tirage </th>
            <th>Date</th>
            <th>Libellé</th>
            <th>Détails</th>
        </tr>
    </thead>
        <tr>
            <td> 3 </td>
            <td>12/09/20</td>
            <td>Liste 1</td>
           
            <td>  <img alt="icon" src="eyes.png"> </td>
        </tr>
        <tr>
            <td> 2 </td>
            <td>09/11/22</td>
            <td>Liste 2</td>
            <td><i class="fa-duotone fa-eye"></i></td>
        </tr>
        <tr>
            <td> 5</td>
            <td>05/03/22</td>
            <td>Liste 3</td>
            <td></td>
        </tr>
    </table>
</div>
