
<div class="navbar">
    <div class="nav">
        <h3>Free Tirage</h3>
        <ul class="menu">
            
            <div class="des">
    
                <li>
                    <fa-icon [icon]="listeee"></fa-icon>
                    <a routerLink="/listimpoter" routerLinkActive="active">Liste importées</a>
                </li>
                
                <li>
                    <fa-icon [icon]="listee"></fa-icon>
                    <a routerLink="/detail" routerLinkActive="active">Detail Liste</a>
                </li>
                
                <li>
                    <fa-icon [icon]="liste"></fa-icon>
                    <a routerLink="/postulants" routerLinkActive="active">Liste Postulants</a>
                </li>
                <li>
                    <fa-icon [icon]="tirage"></fa-icon>
                    <a routerLink="/tirage" routerLinkActive="active">Tirage</a>
                </li>    
                <li>
                    <fa-icon [icon]="home"></fa-icon>                    
                    <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
                </li>
            </div>
        </ul>
    </div>
</div>

<div>
    <footer>
    
        <div class="pied">
        <P>Copyright@2022 Free Tirage, developpé par Orange Digital Kalanso 2</P>
    </div>
    </footer>
</div>

<br><br>

<br>
<router-outlet></router-outlet>
<!-- <app-tirage></app-tirage> -->
<!-- <app-liste-tire></app-liste-tire> -->