<div class="navbar">
    <div class="nav">
        <h3>Free Tirage</h3>
        <ul class="menu">
            
            <div class="des">
    
                <li>
                    <fa-icon [icon]="listeee"></fa-icon>
                    <a href="import.html">Liste importées</a>
                </li>
                
                <li>
                    <fa-icon [icon]="listee"></fa-icon>
                    <a href="list tirée.html">Liste Postulants tirés</a>
                </li>
                
                <li>
                    <fa-icon [icon]="liste"></fa-icon>
                    <a href="list.html">Liste Postulants</a>
                </li>
                <li>
                    <fa-icon [icon]="tirage"></fa-icon>
                    <a href="tirage.html">Tirage</a>
                </li>    
                <li>
                    <fa-icon [icon]="home"></fa-icon>                    
                    <a href="accueil.html">Accueil</a>
                </li>
            </div>
        </ul>
    </div>
</div>
<div>
    <footer>
    
        <div class="pied">
        <P>Copyright@2022 Free Tirage, developpé par Orange Digital Kalanso 2</P>
    </div>
    </footer>
</div>

<br><br>

<br>
<router-outlet></router-outlet>
<!-- <app-tirage></app-tirage> -->
<!-- <app-liste-tire></app-liste-tire> -->